body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    border:none;
    padding-top: 51px;
}
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
nav{
    width: ;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-orange{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}